# ---- Spring Initializr HELP ----
HELP.md

# ---- Build ----
target/
!**/src/main/**/target/
!**/src/test/**/target/

# ---- Maven Wrapper ----
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# ---- IntelliJ IDEA ----
.idea/
*.iml
*.iws
*.ipr

# ---- NetBeans ----
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ---- Logs ----
*.log

# ---- OS Specific ----
.DS_Store
Thumbs.db

# ---- Environment / Security ----
*.env
src/main/resources/application.properties
src/main/resources/application.yml
